{% extends 'base.html' %}

{% block content %}
<main class="container">
    <div class="row">
        <div class="col-md-6 offset-md-4">
            <h1 class="text-center display-3 py-5">Clientes</h1>

    <ul class="list-group">
        {% for cliente in clientes %}
            <a class="list-group-item" href="{% url 'cliente_detail' cliente.id %}">
             <header class="d-flex justify-content-between">  
                {% if task.important %}
                <h1 class="fw-bold text-success">{{ cliente.nombre }}</h1>
                {% else %}
                <h1 class="fw-bold">{{ cliente.nombre }}</h1>
                {% endif %}
                <p>id: {{ cliente.id }}</p>
                <p>{{ cliente.user.username }}</p>
             </header>
                <p>{{ cliente.datecompleted|date:'M j Y:i' }}</p>
            </a>
        
        {% endfor %}
        </ul>
       
     </div>
    </div>
</main>    

{% endblock %}
