{% extends 'base.html' %}

{% block content %}
<main class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4 mt-5"> 
            <form action="" method="POST" class="needs-validation" novalidate>
                <h1 class="text-center">Crear Clientes</h1>
                {{error}}
                {% csrf_token %}

                {{form}}
                <button class="btn btn-primary">
                    Create

            </form>
        
        
        </div>
    </div>
</main>
{% endblock %}
